.logo{
    width: 100px;
}
.carousel-img {
    width: 100%; 
    max-height: 160px; 

  }
.about-container {
    background-color: yellow;
}
.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px; 
  }
  
  .news-item img {
    margin-right: 20px; 
  }
